* {
  padding: 0;
  margin: 0;
}
body {
  background: orange;
}
h1 {
  font-family: "Long Cang", cursive;
  font-size: 15vh;
}

h2 {
  font-family: "Long Cang", cursive;
  font-size: 5vh;
}

.menu {
  font-family: serif;
  color: white;
}
#bottom {
  display: inline-grid;
  grid-template-areas: "title title"
  "sub host"
  "players host"
  "profile special";
  grid-template-columns: 50vw 50vw;
  grid-template-rows: 15vh 5vh 55vh 30vh;
}

#title {
  grid-area: title;
}
#sub {
  grid-area: sub;
}
#players {
  grid-area: players;
}
#special {
  grid-area: "special";
  background-color: gray;
}
#bio {
  grid-area: "profile";
  background-color: teal;
  margin: 1vw;
}

ul {
  margin-left: 5vw
}

#profile {
  background-color: black;
  color: white;
  border: 1vw black solid;
}
